# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\PATLURI PALLAVI\Documents\workspace-spring-tool-suite-4-4.7.0.RELEASE\LiveTournamentScore\LiveTournamentScore\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
